section.curvy-container {
    height: 100px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    bottom: -80px;
    z-index: 10;
}

.curvy-container .curve {
    width: 2000px;
    aspect-ratio: 7/1;
    border-radius: 50% 50% 0 0;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    z-index: 100;
    position: absolute;
    z-index: 100;
}

.curvy-container .curve-upper {
    position: absolute;
    width: 2000px;
    aspect-ratio: 7/1;
    z-index: 200;
    background: black;
    border-radius: 50% 50% 0 0;
    top: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.curvy-container .curve-upper::after {
    content: "";
    position: absolute;
    height: 230px;
    width: 800px;
    top:-115px;
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, 0.2),rgba(18,28,66) 10%, rgba(0,0,0,0.05), transparent);

}